<div id="container">
    <div class="d-flex justify-content-center align-items-center minha-classe shadow mb-4" >
        <h3 class="display-6">Consulta de Pedidos:</h3>
    </div>
<div class="container">
    
    <div class="d-flex justify-content-center p-4">
       
        <label for="busca"></label>
        <input type="text" id="busca" name="busca" class="rounded col-md-6 " placeholder="Qual o numero do pedido?" [(ngModel)]="pedidoNum">
    
        <button class="btn btn-secondary border-black" (click)="buscarPedido()">Buscar</button>
    </div>
    

    <div >
        <table class="table table-striped table-responsive " *ngIf="exibirPedido">
            <thead >
                <tr>
                    <td style="background-color: gray;">Numero do Pedido: </td>
                    <td></td>
                    <td>{{pedidoNum}}</td>
                  </tr>
                  
                <tr >
                    <td style="background-color: gray;">Orçamento: </td>
                    <td></td>
                    <td>{{orcamento}},00 R$</td>
                </tr>
                <tr >
                    <td style="background-color: gray;">Prazo: </td>
                    <td></td>
                    <td>{{prazo}} dias</td> 
                </tr>
                <tr >
                    <td style="background-color: gray;">Estado: </td>
                    <td></td>
                    <td>{{estado}}</td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Roupas: </td>
                    <td>Tipo: </td>
                    <td>Quantidade: </td>
                    <td>Preço: </td>
                </tr>
                <tr *ngFor="let roupa of roupas">
                    <td></td>
                    <td >{{roupa.tipo}} </td>
                    <td >{{roupa.quantidade}} Peças</td>
                    <td >{{roupa.preco}},00 R$</td>
                </tr>
            </tbody>

        </table>
    </div>
    
    <div class="d-flex justify-content-center align-items-center ">
        <div class="alert alert-danger col-md-6 d-flex justify-content-center align-items-center " role="alert" *ngIf="naoEncontrado">
            <p>Pedido não encontrado!</p>
        </div>
    </div>



</div>   