<div class="container">
  <h2>Consulta de Pedido</h2>
  <div class="form-group">
    <label for="numeroPedido">Número do Pedido:</label>
    <input
      type="text"
      class="form-control"
      id="numeroPedido"
      name="numeroPedido"
      [(ngModel)]="numeroPedido"
    />
  </div>
  <button class="btn btn-primary" (click)="consultarPedido()">Consultar</button>

  <div *ngIf="pedidoEncontrado">
    <h3>Dados do Pedido:</h3>
    <p>Número do Pedido: {{ pedidoEncontrado.numero }}</p>
    <p>Estado: {{ pedidoEncontrado.estado }}</p>
    <p>Roupas no Pedido: {{ pedidoEncontrado.roupas.join(", ") }}</p>
    <p>Preço Total: R$ {{ pedidoEncontrado.orcamento }}</p>
    <p>Prazo do Serviço: {{ pedidoEncontrado.prazo }} dias</p>
    <a
      [routerLink]="['/confirmar-recolhimento', pedidoEncontrado.numero]"
      class="btn btn-info"
      >Confirmar Recolhimento</a
    >
  </div>
</div>
