<div style="margin:2%;">
    <h1  class="display-5">Roupas</h1>
</div>

<div id="container">
    
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped table-bordered table-hover m-3">
                <tr class="bg-light">
                    <td>Id</td>
                    <td>Nome</td>
                    <td>Preço</td>
                    <td>Prazo da Lavagem</td>
                    <td><button (click)="campoNovo=true; campoEditar=false" class="btn btn-success col-md-6 m-1">Novo</button></td>
                </tr>
                <tr *ngFor="let roupa of pecas">
                    <td>{{roupa.id}}</td>
                    <td>{{roupa.nome}}</td>
                    <td>{{roupa.preco}}</td>
                    <td>{{roupa.prazo}} dias</td>
                    

                    <button (click)="selecionarEditar(roupa.id)" class="btn btn-primary m-1">Editar</button>

                    <button (click)="remover(roupa.id)" class="btn btn-danger">Remover</button>

                </tr>
            </table>
        </div>  
        
        <div class="col-md-4 m-3">
            <div class="border" *ngIf="campoNovo">
                <h2 class="d-flex justify-content-center align-items-center">Nova Peça</h2>
                <form (ngSubmit)="novo()" class="m-3">
                    <div>
                        <label for="nome" class="col-sm-4 col-form-label">Nome da Peça:</label>
                        <input type="text" id="nome" name="nome" placeholder="Digite o nome da peça" maxlength="12" required [(ngModel)]="novaRoupa.nome">
                    </div>

                    <div>
                        <label for="preco" class="col-sm-4 col-form-label">Preço por lavagem: </label>
                        <input type="number" id="preco" name="preco" placeholder="Digite o preço por lavagem" required [(ngModel)]="novaRoupa.preco">
                    </div>

                    <div>
                        <label for="prazo" class="col-sm-4 col-form-label">Prazo estimado:</label>
                        <input type="number" id="prazo" name="prazo" placeholder="Digite o prazo estimado" required [(ngModel)]="novaRoupa.prazo">
                    </div>

                    <div class="d-flex justify-content-center align-items-center ">
                        <button type="submit" class="btn btn-success m-2">Salvar</button>
                        <button (click)="campoNovo=false" class="btn btn-danger">Cancelar</button>
                    </div>

                </form>        
            </div>
      
            <div class="border"  *ngIf="campoEditar">
                <h2 class="d-flex justify-content-center align-items-center">Editar</h2>
                <form (ngSubmit)="editar()" class="m-3">
                    <div>
                        <label for="nome" class="col-sm-4 col-form-label">Nome da Peça: </label>
                        <input type="text" id="nome" name="nome" placeholder="Digite o nome da peça" maxlength="12" required [(ngModel)]="novaRoupa.nome">
                    </div>

                    <div>
                        <label for="preco" class="col-sm-4 col-form-label">Preço por lavagem: </label>
                        <input type="number" id="preco" name="preco" placeholder="Digite o preço por lavagem" required [(ngModel)]="novaRoupa.preco">
                    </div>

                    <div>
                        <label for="prazo" class="col-sm-4 col-form-label">Prazo estimado:</label>
                        <input type="number" id="prazo" name="prazo" placeholder="Digite o prazo estimado" required [(ngModel)]="novaRoupa.prazo">
                    </div>
                    
                    <div class="d-flex justify-content-center align-items-center ">
                        <button type="submit" class="btn btn-success m-2">Alterar</button>
                        <button (click)="campoEditar=false" class="btn btn-danger">Cancelar</button>
                    </div>

                </form>        
            </div>
        </div>
    </div>
</div>