<div id="container">
    <h1  class="display-5 shadow mb-4" style="color:#6C9A8B;">Relatórios <i class="bi bi-bar-chart"></i></h1>
    <div class="row" style="margin-top:8%;">
    
        <table class="table table-bordered m-3">
            <tbody>
            <tr>
                <td class="bg-light"><p>Relatório de Receitas: </p></td>
                <td class="d-flex justify-content-center align-items-center"> <app-relatorio-receitas></app-relatorio-receitas></td>
            </tr>
            <tr>
                <td class="bg-light"><p>Relatório de Clientes: </p></td>
                <td class="d-flex justify-content-center align-items-center"><app-relatorio-clientes></app-relatorio-clientes></td>
            </tr>
            <tr>
                <td class="bg-light"> <p>Relatório de Clientes Fieis: </p></td>
                <td class="d-flex justify-content-center align-items-center"><app-relatorio-clientes-fieis></app-relatorio-clientes-fieis></td>
            </tr>
        </tbody>
        </table>
    </div>
   
</div>




